<section>
    <div class="container">
      <h1>Gênero</h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="input-group">
            <span class="input-group-addon">
              Nome
            </span>
            <input type="text" class="form-control" value="<%= @genero.nome%>" aria-describedby="basic-addon1" disabled="true">
        </div>

          <br>

          <p>
            <%= link_to t('buttons.edit'), edit_genero_path(@genero), class: "btn btn-primary", role: "button" %>
            <%= link_to 'Cancelar', generos_path, class: "btn btn-default" %>
          </p>

        </div>
      </div>
    </div>
</section>

<%= render partial: "/partials/tab_rodape" %>
