<footer>
  <!--
  <div class="footer">
    <div class="container-fluid">
      <div class="row">
        <div id="copyright">
          <span>© 2017 Eagle - Desenvolvimento Web e Mobile</span>
        </div>
      </div>
    </div>
  </div>
  -->
</footer>
