<section>
  <br>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body" style="border: 1px solid #ddd">
        <!-- Conteúdo do painel -->

        <div class="row">
          <div class="col-sm-4 col-md-3 col-lg-3" style="width: 33.3333333%">
            <img alt="Poster" title="Poster" class="img-thumbnail" src="<%= @pessoa.url_foto %>" style="width: 275px; height: 350px">
          </div>

          <div class="col-sm-8 col-md-9 col-lg-9" style="width: 66.66666666%">
            <a><h2><%= @pessoa.nome %></h2></a>
          </div>

          <p>
            <%= link_to t('buttons.edit'), edit_pessoa_path(@pessoa), class: "btn btn-primary", role: "button" %>
            <%= link_to 'Cancelar', pessoas_path, class: "btn btn-default" %>
          </p>

        </div>
      </div>
    </div>
  </div>
</section>
